.user-box {
  display: flex;
  gap: 60px;
  padding: 30px;
  background-color: rgb(249, 241, 230);
  border-radius: 10px;
  width: 100%;
  min-height: 500px;
  margin-top: 40px;
}

.avatar {
  max-width: 200px;
  width: 100%;
}
.avatar img {
  width: 100%;
  border-radius: 50%;
}

.user-info {
  margin-left: 30px;
}

.user-info-text {
  margin-top: 10px;
  font-weight: 500;
}

.action-box {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}




